body {
  color: #111;
  background-color: #fefefe;
  font: 18px/27px 'Helvetica Neue', 'Arial', sans-serif;
  width: 650px;
  margin: 10px auto 10px auto;
}

pre, code {
  font: 17px/23px monospace;
}

div#header {
  font-size: 16px;
  font-weight: bold;
  overflow: auto;
  width: 100%;
}

div#home {
  float: left;
}

div#navigation {
  float: right;
}

div#navigation a {
  margin-left: 10px;
}

div#footer {
  text-align: center;
  font-style: italic;
  font-size: 12px;
  margin-top: 30px;
}

h1 {
  color: #444;
  border-bottom: 1px dotted #ccc;
  font: 27px/40px 'Hoefler Text', 'Constantia', 'Palatino', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif;
  font-weight: bold;
  margin-top: 10px;
}

h2, h3 {
  font-weight: bold;
}

p {
  margin-top: 0.75em;
  margin-bottom: 1em;
}

p.post-info {
  color: #555;
  font-size: 14px;
  font-style: italic;
  margin: 0;
}

a {
  color: #114b86;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

div.figure {
  text-align: center;
}

div.figure p.caption {
  font-style: italic;
}

body > pre.sourceCode, table.sourceCode {
  text-shadow: 0 0 0 transparent, 1px 1px 2px #292927;
  background: #404040 url(/img/code-bg.png);

  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;

  display: block;
  overflow: auto;

  width: auto;
  margin: 1.2em auto;
  padding: 0;
}

body > pre.sourceCode, td.sourceCode {
  padding: 0.5em 0.7em;
}

td.nums pre {
  padding: 0 0.425em 0 0.5em;
  text-align: right;
}

#disqus_thread {
  margin-top: 2em;
}
#dsq-footer, .dsq-trackback-url {
  display: none;
}
