body {
  color: #111;
  background-color: #fefefe;
  font: 18px/27px 'Helvetica Neue', 'Arial', sans-serif;
  width: 650px;
  margin: 10px auto 10px auto;
}

pre, code {
  font: 17px/23px monospace;
}

div#header {
  font-size: 16px;
  font-weight: bold;
}

div#navigation {
  float: right;
}

div#navigation a {
  margin-left: 10px;
}

div#footer {
  text-align: center;
  font-style: italic;
  font-size: 11px;
  margin-top: 30px;
}

h1 {
  color: rgb(150, 150, 150);
  border-bottom: 2px solid rgb(150, 150, 150);
  font-size: 22px;
  margin-top: 30px;
}

p {
  margin-top: 1em;
}

li {
  list-style-type: square;
}

a {
  color: #114b86;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

div.figure {
  text-align: center;
}

div.figure p.caption {
  font-style: italic;
}

body > pre.sourceCode, table.sourceCode {
  text-shadow: 0 0 0 transparent, 1px 1px 2px #292927;
  background: #333 url(/images/code-bg.png);

  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;

  display: block;
  overflow: auto;

  width: auto;
  margin: 1em auto;
  padding: 0;
}

body > pre.sourceCode, td.sourceCode {
  padding: 0.5em 0.7em;
}

td.nums pre {
  padding: 0 0.425em 0 0.5em;
  text-align: right;
}
