body {
  color: #222;
  background: #fefefe url(/img/bg-light-light.png);
  font: 18px/30px 'Helvetica Neue', 'Arial', sans-serif;
  width: 650px;
  margin: 10px auto;
}

h1, h2 {
  font-family: 'Hoefler Text', 'Constantia', 'Palatino', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  color: #333;
  border-bottom: 1px dotted #ccc;
  font-size: 27px;
  line-height: 40px;
  margin-top: 25px;
}
h1 a {
  color: #333;
}
h1 a:hover {
  color: #114b86;
  text-decoration: none;
}

h2 {
  font-size: 22px;
  margin-top: 40px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

pre, code {
  font: 16px/23px 'DejaVuSansMonoBook', serif;
}
.linux pre, .linux code {
  /* on linux we bump the font-size by one pixel
   * as it looks better */
  font-size: 17px;
}

p > code {
  /* inline code is always 16px, even on linux */
  font-size: 16px !important;

  color: #222;
  background: #e7e7e7;
  text-shadow: 0 0 0 transparent, 1px 1px 4px #998;

  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;

  padding: 2px 5px;
}

body > pre.sourceCode, table.sourceCode {
  background: #404040 url(/img/code-bg.png);
  text-shadow: 0 0 0 transparent, 1px 1px 4px #292927;

  -moz-border-radius:    5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius:         5px 0 0 5px;

  display: none;
  overflow: auto;

  width: auto;
  margin: 1.8em -1.5em;
  padding: 1.5em;
}

td.nums pre {
  padding-right: 0.5em;
  margin-right: 0.5em;
  text-align: right;
}

div#header {
  font-size: 16px;
  font-weight: bold;
  overflow: auto;
  width: 100%;
}

div#title {
  float: right;
  color: #444;
}

.feed {
  margin-left: 2px;
  vertical-align: middle;
}

div#navigation {
  float: left;
}

div#navigation a {
  margin-right: 10px;
}

div#footer {
  text-align: center;
  font-style: italic;
  font-size: 12px;
  margin-top: 30px;
}

p, ul {
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}

p.post-info {
  color: #444;
  font-size: 14px;
  font-style: italic;
  margin: 0;
}

div.post-footer {
  margin-bottom: 3em;
  text-align: center;
}

a {
  color: #114b86;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

div.figure {
  text-align: center;
}

div.figure p.caption {
  font-style: italic;
}

#disqus_thread {
  margin-top: 3em;
  font-size: 90%;
}

#dsq-footer {
  display: none;
}

.dsq-trackback-url {
  font-size: 80%;
}

.about-picture {
  float: left;
  margin: 1.8em 1em 0 0;
}
