td.nums pre { color: #bbb; border-right: 1px solid #404040; }

pre.sourceCode { color: #e8e8dc; }
pre.sourceCode span.co { color: #aaaaaa; font-style: italic; }
pre.sourceCode span.kw { color: #a5c2f6; }
pre.sourceCode span.dt { color: #ffb964; }
pre.sourceCode span.ot { color: #e79b50; }
pre.sourceCode span.fu { color: #f6cf8f; }
pre.sourceCode span.dv { color: #40a070; }
pre.sourceCode span.bn { color: #40a070; }
pre.sourceCode span.fl { color: #40a070; }
pre.sourceCode span.ch { color: #4070a0; }
pre.sourceCode span.st { color: #99ad6a; }
pre.sourceCode span.al { color: #ff0000; font-weight: bold; }
pre.sourceCode span.re { }
pre.sourceCode span.er { color: #ff0000; font-weight: bold; }
